{% extends 'base.html' %}
{% load static %}

{% block head_title %}{{ block.super }} | Vote{% endblock head_title %}


{% block content %}

<div class="container my-5">
<section class="dark">
	<div class="container py-4">
		<article class="postcard dark green">
			<div class="postcard__text">
				<h1 class="postcard__title green">{{ request.project.title }} - Request N° <span id="requestNo">{{ requestNo }}</span></h1>
				<p id="address" style="display:none;">{{ request.project.address }}</p>
                <hr>
                <br>
                <div class="row my-2 text-center">
                <div class="col-md-12">
                    <button id="enableMetamask" class="btn btn-send">Connect with Metamask</button>
                </div>
                </div>
                <div class="row my-3 text-center">
                <div class="col-md-12">
                    <span id="status"></span>
                </div>
                </div>
                <div class="row my-5 text-center">
                <div class="col-md-12">
                <h6>Are you sure you want to vote this request?</h6>
                <a><button id="vote" class="btn btn-send" disabled>Yes</button></a>
                <a href="{% url 'request-detail' id=request.id %}"><button class="btn btn-send">No</button></a>
                </div>
                </div>
                <div class="row my-1 mb-0 text-center">
                <div class="col-md-12">
                    <p>Please connect with Metamask to enable the Vote button</p>
                </div>
                </div>
			</div>
		</article>
	</div>
</section>
</div>

{% endblock content %}



{% block scripts %}

<script>
    let currentAccount = null;
    let web3;
    let abi = [
	{
		"inputs": [
			{
				"internalType": "uint256",
				"name": "_goal",
				"type": "uint256"
			},
			{
				"internalType": "uint256",
				"name": "_deadline",
				"type": "uint256"
			}
		],
		"stateMutability": "nonpayable",
		"type": "constructor"
	},
	{
		"anonymous": false,
		"inputs": [
			{
				"indexed": false,
				"internalType": "address",
				"name": "_sender",
				"type": "address"
			},
			{
				"indexed": false,
				"internalType": "uint256",
				"name": "_value",
				"type": "uint256"
			}
		],
		"name": "ContributeEvent",
		"type": "event"
	},
	{
		"anonymous": false,
		"inputs": [
			{
				"indexed": false,
				"internalType": "string",
				"name": "_description",
				"type": "string"
			},
			{
				"indexed": false,
				"internalType": "address",
				"name": "_recipient",
				"type": "address"
			},
			{
				"indexed": false,
				"internalType": "uint256",
				"name": "_value",
				"type": "uint256"
			}
		],
		"name": "CreateRequestEvent",
		"type": "event"
	},
	{
		"anonymous": false,
		"inputs": [
			{
				"indexed": false,
				"internalType": "address",
				"name": "_recipient",
				"type": "address"
			},
			{
				"indexed": false,
				"internalType": "uint256",
				"name": "_value",
				"type": "uint256"
			}
		],
		"name": "MakePaymentEvent",
		"type": "event"
	},
	{
		"inputs": [],
		"name": "admin",
		"outputs": [
			{
				"internalType": "address",
				"name": "",
				"type": "address"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "contribute",
		"outputs": [],
		"stateMutability": "payable",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "address",
				"name": "",
				"type": "address"
			}
		],
		"name": "contributors",
		"outputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "string",
				"name": "_description",
				"type": "string"
			},
			{
				"internalType": "address payable",
				"name": "_recipient",
				"type": "address"
			},
			{
				"internalType": "uint256",
				"name": "_value",
				"type": "uint256"
			}
		],
		"name": "createRequest",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "deadline",
		"outputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "getBalance",
		"outputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "uint256",
				"name": "_requestIndex",
				"type": "uint256"
			}
		],
		"name": "getRequestInfo",
		"outputs": [
			{
				"internalType": "string",
				"name": "",
				"type": "string"
			},
			{
				"internalType": "address",
				"name": "",
				"type": "address"
			},
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			},
			{
				"internalType": "bool",
				"name": "",
				"type": "bool"
			},
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "goal",
		"outputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "uint256",
				"name": "_requestNo",
				"type": "uint256"
			}
		],
		"name": "makePayment",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "minContribution",
		"outputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "numberOfContributors",
		"outputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "numberOfRequests",
		"outputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "raisedAmount",
		"outputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"name": "requests",
		"outputs": [
			{
				"internalType": "string",
				"name": "description",
				"type": "string"
			},
			{
				"internalType": "address payable",
				"name": "recipient",
				"type": "address"
			},
			{
				"internalType": "uint256",
				"name": "value",
				"type": "uint256"
			},
			{
				"internalType": "bool",
				"name": "completed",
				"type": "bool"
			},
			{
				"internalType": "uint256",
				"name": "numberOfVoters",
				"type": "uint256"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "uint256",
				"name": "_requestNo",
				"type": "uint256"
			}
		],
		"name": "voteRequest",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"stateMutability": "payable",
		"type": "receive"
	}
];
	// picking the contract address of this project from a hidden text
    let contractAddress =  document.getElementById("address").textContent;
	// picking the requestNo from the page
	let requestNo = document.getElementById("requestNo").textContent;

	// handling accounts changing
    function handleAccountsChanged(accounts) {
            console.log('Calling HandleChanged')
			// setting current account variable to pass it in the vote function
            if (accounts.length === 0) {
                console.log('Please connect to MetaMask.');
                $('#enableMetamask').html('Connect with Metamask')
            } else if (accounts[0] !== currentAccount) {
                currentAccount = accounts[0];
                $('#enableMetamask').html(currentAccount)
                $('#vote').prop('disabled', false)
                $('#status').html('')

                if(currentAccount != null) {
                    // Set the button label
                    $('#enableMetamask').html(currentAccount)
                }
            }
            console.log('WalletAddress in HandleAccountChanged ='+currentAccount)
        }
		
		// connecting metamask to this webpage
        function connect() {
            console.log('Calling connect()')
            ethereum
            .request({ method: 'eth_requestAccounts' })
            .then(handleAccountsChanged)
            .catch((err) => {
            if (err.code === 4001) {
                // EIP-1193 userRejectedRequest error
                // if this happens, the user rejected the connection request.
                console.log('Please connect to MetaMask.');
                $('#status').html('You refused to connect Metamask')
            } else {
                console.error(err);
            }
            });
        }

		// open metamask 
        function detectMetaMask() {
            if (typeof window.ethereum !== 'undefined') {                
                return true
            } else {                
                return false
            }
        }

		// calling vote function on the contract
        async function vote() {

            console.log('Vote')

            requestNo = parseInt(requestNo)

            const contractFirst = new web3.eth.Contract(
                        abi,
                        contractAddress
            );
			// request index is picked from html and the sender is the account connected through metamask
            contractFirst.methods.voteRequest(requestNo).send({from:currentAccount}).then(function (result) {
                console.log(result);
				// alert with some info about the transaction
                window.alert("Your transaction hash: " + result.transactionHash + "\nFor more info copy and paste it on Etherscan!");
            })
        }

</script>

<script>    
	// when document is ready try to connect with metamask
    $( document ).ready(function() {
        m = detectMetaMask()
        if(m) {
            $('#metaicon').removeClass('meta-gray')
            $('#metaicon').addClass('meta-normal')
			// if metamask is connected enable Yes vote button
            $('#enableMetamask').attr('disabled',false)
            connect() // connected wallet must be showed
        } else {
            $('#enableMetamask').attr('disabled',true)
            $('#metaicon').removeClass('meta-normal')
            $('#metaicon').addClass('meta-gray')
        }

		// enable metamask clicking on Connect With Metamask
        $('#enableMetamask').click(function() {
                connect()
        });
		// vote function is called clicking on Yes button
        $('#vote').click(function() {
                vote()
        });
		// connecting the provider
        try {            
            web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:8545"));
        } catch (error) {
            alert(error)
        }

    })

</script>

{% endblock scripts%}