{% extends 'base1.html' %}
{% load crispy_forms_tags %}
{% load static %}

    {% block head_title %}{{ block.super }} | Login{% endblock head_title %}

{% block content %}


        
        <div class="row justify-content-center mt-4">
            <div class="col-5 text-center">
                <h2>Log In</h2>
                <form action="{% url 'login' %}" method="POST" novalidate>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="btn btn-info my-2" value="Login">
                    <input type="hidden" name="next" value="{% url 'homepage' %}">
                </form>
                <br>
                <p><a href="{% url 'password_reset' %}" class="underline">Forgot your password?</a></p>
                <br>
                <p><a href="{% url 'registration' %}" class="underline">Don't have an Account?</a></p>
            </div>
        </div>
    

{% endblock content %}
